.del-modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  background-color: white;
  border-radius: 9px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;

  .btn--close-del-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  &__content {
    display: grid;
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-columns: auto;
    grid-template-rows: 2rem auto 4rem;
    gap: 2rem;
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-row: header;
    grid-column: header;
  }

  &__preview {
    grid-row: content;
    grid-column: content;
  }

  &__buttons {
    grid-row: footer;
    grid-column: footer;
  }

  &__cancel-btn {
    display: inline;
    margin-right: 1px;
  }

  &__delete-btn {
    display: inline;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 123, 0, 1) 0%,
      rgba(255, 0, 0, 1) 100%
    );
  }
}
