dist: jammy
language: node_js
node_js:
  - 18
cache:
  directories:
    - node_modules
script:
  - npm test
before_deploy:
  - npm install netlify-cli -g
  - npm run build
deploy:
  provider: script
  edge: true
  script: netlify deploy --dir=dist --prod
  on:
    branch: master
