dist: jammy
language: node_js
node_js:
  - 18
cache:
  directories:
    - node_modules
script:
  - npm test
before_deploy:
  - npm run build
deploy:
  provider: netlify
  site: ${NETLIFY_SITE_ID}
  auth: ${NETLIFY_AUTH}
  edge: true
  dir: 'dist'
  prod: true
  message: ${TRAVIS_COMMIT_MESSAGE}
  on:
    branch: master
